<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body class="body">
    <section class="body__content">
        {% block content %}{% endblock %}
    </section>
    <footer class="footer">
        <div class="container">
            {% block footer %}
            &copy; Copyright 2024 by IVAN NIKONOV.
            {% endblock %}
        </div>
    </footer>
</body>
</html>