<!doctype html>
<html lang="en">
{% include 'blocks/head.html' %}
<body class="body">
    {% include 'blocks/header.html' %}
    <main class="cart-page">
        <div class="container">
            <div class="cart-page__content">
                <h1 class="h1">Ваш заказ оформлен</h1>
                <div class="cart-page__empty-text empty-text">
                        Спасибо за заказ. Наш менеджер свяжется с вами.
                    </div>
            </div>
        </div>
    </main>
</body>
</html>