<header class="header">
    <div class="container">
        <div class="header__content">
            <nav class="menu header__menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/catalog/" class="menu__link">
                            Каталог
                        </a>
                    </li>
                </ul>
            </nav>

            <a href="/cart/" class="header__cart cart">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16" id="Cart2--Streamline-Bootstrap.svg" height="16" width="16">
                    <path d="M0 2.5A0.5 0.5 0 0 1 0.5 2H2a0.5 0.5 0 0 1 0.485 0.379L2.89 4H14.5a0.5 0.5 0 0 1 0.485 0.621l-1.5 6A0.5 0.5 0 0 1 13 11H4a0.5 0.5 0 0 1 -0.485 -0.379L1.61 3H0.5a0.5 0.5 0 0 1 -0.5 -0.5M3.14 5l1.25 5h8.22l1.25 -5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0 -2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1 -4 0m9 -1a1 1 0 1 0 0 2 1 1 0 0 0 0 -2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1 -4 0" stroke-width="1"></path>
                </svg>
            </a>
        </div>
    </div>
</header>